*{
  background-color: lightgray;
  border: 1px solid black;
} 

body{
  font-family: 'Poppins', sans-serif;
  }
  
 
 
  .picture{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
  }
  img{
    height: 100%;
    width: 100%;
  }
  .row {
    
  }